*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f4f7fc;
}


nav{
    background:#0d47a1;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:50px;
    height:50px;
    border-radius:50%;
}

.nav-links a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:500;
}

.nav-links a:hover{
    color:#ffd54f;
}


.hero{
    background:url("img.jpg") center/cover no-repeat;
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero-text{
    background:rgba(0,0,0,0.6);
    padding:40px;
    border-radius:10px;
}

.hero h1{
    font-size:40px;
    margin-bottom:20px;
}

.hero button{
    padding:10px 25px;
    background:#4caf50;
    border:none;
    color:white;
    font-size:16px;
    cursor:pointer;
    border-radius:5px;
}

.hero button:hover{
    background:#2e7d32;
}


.about{
    padding:60px 20px;
    text-align:center;
}

.about h2{
    margin-bottom:20px;
}


.programs{
    background:#e8f5e9;
    padding:60px 20px;
    text-align:center;
}

.program-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:40px;
}

.program-card{
    background:white;
    width:300px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    overflow:hidden;
    transition:0.3s;
}

.program-card:hover{
    transform:translateY(-10px);
}

.program-card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.program-card h3{
    margin:15px 0 10px;
}


.admission{
    background:#0d47a1;
    color:white;
    padding:60px 20px;
    text-align:center;
}

.admission button{
    margin-top:20px;
    padding:10px 25px;
    background:#4caf50;
    border:none;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

.admission button:hover{
    background:#2e7d32;
}


.news{
    padding:60px 20px;
    text-align:center;
}

.news-container{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    margin-top:40px;
}

.news-card{
    width:300px;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    transition:0.3s;
    text-align:left;
}

.news-card:hover{
    transform:translateY(-8px);
}

.news-card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

.news-card h3{
    margin:15px;
}

.news-card p{
    margin:0 15px 10px;
}

.news-card small{
    display:block;
    margin:0 15px 20px;
    color:gray;
}


footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
}
